<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>垂直布局 - 上方固定高度 - 下方自适应高度</title>
    <style>
        .layout {
            background-color: sienna;
            position: relative;
        }

        .top {
            background-color: skyblue;
            height: 300px;
        }

        .bottom {
            background-color: slateblue;
            position: absolute;
            top: 300px;
            right: 0;
            left: 0;
        }
    </style>
</head>

<body>
    <div class="layout">
        <div class="top">
            <p>垂直布局 - 上方固定高度 - 下方自适应高度</p>
        </div>
        <div class="bottom">
            <p>垂直布局 - 上方固定高度 - 下方自适应高度</p>
            <p>垂直布局 - 上方固定高度 - 下方自适应高度</p>
            <p>垂直布局 - 上方固定高度 - 下方自适应高度</p>
            <p>垂直布局 - 上方固定高度 - 下方自适应高度</p>
            <p>垂直布局 - 上方固定高度 - 下方自适应高度</p>
            <p>垂直布局 - 上方固定高度 - 下方自适应高度</p>
            <p>垂直布局 - 上方固定高度 - 下方自适应高度</p>
            <p>垂直布局 - 上方固定高度 - 下方自适应高度</p>
            <p>垂直布局 - 上方固定高度 - 下方自适应高度</p>
            <p>垂直布局 - 上方固定高度 - 下方自适应高度</p>
            <!-- p*100{垂直布局 - 上方固定高度 - 下方自适应高度} -->
        </div>
    </div>
</body>

</html>