<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flex 实现高度未知或已知的三列布局</title>
    <style>
        .layout {
            background-color: #ccc;
            display: flex;
        }

        .left {
            background-color: salmon;
        }

        .center {
            background-color: sienna;
            flex: 1;
        }

        .right {
            background-color: seagreen;
        }
    </style>
</head>

<body>
    <div class="layout">
        <div class="left">
            float 实现高度已知的三列布局
        </div>
        <div class="center">
            <p>float 实现高度已知的三列布局</p>
            <p>float 实现高度已知的三列布局</p>
            <p>float 实现高度已知的三列布局</p>
            <p>float 实现高度已知的三列布局</p>
        </div>
        <div class="right">
            <p>float 实现高度已知的三列布局</p>
        </div>
    </div>
</body>

</html>