<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grid 实现高度未知的三列布局</title>
    <style>
        .layout {
            display: grid;
            grid-template-columns: repeat(autofill, 300px);
            /* grid-template-rows: repeat(3, 300px); */
        }
        .left {
            background-color: red;
        }

        .center {
            background-color: antiquewhite;
        }

        .right {
            background-color: aquamarine;
        }
    </style>
</head>

<body>
    <div class="layout">
        <div class="left">
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
        </div>
        <div class="center">
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
        </div>
        <div class="right">
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
        </div>
        <div class="left">
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
        </div>
        <div class="center">
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
        </div>
        <div class="right">
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
        </div>
        <div class="left">
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
        </div>
        <div class="center">
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
        </div>
        <div class="right">
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
            <p>xxxxx</p>
        </div>
    </div>
</body>

</html>